*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff3eb;
}

.cabeçalho{
  background-image: url("../img/cabeçalhoo.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  height: 50vh  !important;

}

.fotoperfil{
  width: 60% !important;
}

.principal{
  padding-left: 20% !important;
  padding-right: 20% !important;
  padding-top: 2% !important;
}

.textinho{
  
}

/* .principal{
    margin-left: 0% !important;
    margin-right: 0% !important;
    text-align: center !important;
} */