*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff3eb;
}

.cabeçalho{
  background-image: url("../img/cabeçalhoo.png") !important;
  background-size: cover !important;
  background-position: center center !important;
  height: 49vh  !important;
  position: relative !important;
}

.fotoperfil {
  position: absolute;
  bottom: 6vh;       /* empurra para baixo */
  left: 20%;           /* centraliza horizontal */
  
}
.fotoperfil img {
  height: 40vh;
}

.textinho{
  
}

/* .principal{
    margin-left: 0% !important;
    margin-right: 0% !important;
    text-align: center !important;
} */